html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
    font-family: arial, verdana;
    font-size: 14px;
}
canvas {
    position: absolute; 
    left: 0;
    top: 0;
}
div {
    position: absolute;
    left: 0;
    top: 0;
}
img {
    position: absolute;
    left: 0;
    top: 0;
}
#container {
    position: relative;
    left: 0;
    top: 0;
    transition: .5s;
}
#objects-map {
    position: absolute; 
    left: 0;
    top: 0;
}
.event {
    background-color: #00ff00;
    opacity: 0.5;
    border-radius: 50%;
}
/* ==================== */
/* === Player Panel === */
/* ==================== */
.player-panel {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: 70%;
    height: 65px;
    margin: 0 auto;
    background-color: #383838;
    border-radius: 10px 10px 0 0;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    opacity: 0.9;
}
.player-panel .player-hp-container {
    position: static;
    width: 100%;
    background-color: #000000;
    height: 10px;
}
.player-panel .player-hp-value {
    position: static;
    width: 100%;
    background-color: #a81414;
    height: 10px;
}
.player-panel .player-information {
    position: static;
    overflow: hidden;
    width: 100%;
    height: 55px;
    padding: 3px 5px 0 5px;
    color: #ffffff;
    font-size: 13px;
    box-sizing: border-box;
}
/* ==================== */
/* === Dialog Panel === */
/* ==================== */
.dialog-panel {
    position: absolute;
    overflow: hidden;
    z-index: 1100;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: 96%;
    height: 96%;
    margin: 0 auto;
    background-color: #383838;
    border-radius: 7px 7px 0 0;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    opacity: 0.9;
}
.dialog-panel .dialog-text {
    position: static;
    overflow: hidden;
    width: 100%;
    height: 48%;
    padding: 3px 5px 3px 5px;
    border-bottom: 2px solid #000000;
    color: #ffffff;
    font-size: 13px;
    box-sizing: border-box;
}
.dialog-panel .dialog-answers {
    position: static;
    overflow: hidden;
    width: 100%;
    height: 48%;
    padding: 5px;
    color: #ffffff;
    font-size: 13px;
    box-sizing: border-box;
}
.dialog-panel .dialog-answers span {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}
.dialog-panel .dialog-answers span:hover {
    color: #92ff72;
}